<mat-toolbar color="primary">
  <span class="head-title">Smoothie en folie</span>
  <span class="middle-space"></span>
  <div class="button-row">
    <button mat-stroked-button routerLink="home">
      <mat-icon aria-hidden="false" aria-label="home icon">home</mat-icon>
      <span class="button-label">Accueil</span>
    </button>
  </div>
  <div class="button-row">
    <button mat-stroked-button routerLink="smoothies">Nos smoothies
    </button>
  </div>
  <div class="button-row">
    <button mat-stroked-button>Details
    </button>
  </div>
</mat-toolbar>

