<div>
    <mat-grid-list cols="3">
        <mat-grid-tile *ngFor="let smoothie of smoothies">
                <mat-card class="cards">
                        <img mat-card-image [src]="[imgUrl + '/' + smoothie.photo[0].path]">
                        <mat-card-title>
                            {{ smoothie.title }}
                        </mat-card-title>
                        <mat-card-content>
                            {{ smoothie.description }}
                        </mat-card-content>
                        <mat-card-actions>
                            <button mat-button [routerLink]="['/detail/', smoothie._id]">Go detail</button>
                            <!-- <button mat-raised-button (click)="goDetail(smoothie._id)">Via function</button> -->
                        </mat-card-actions>
                    </mat-card>

        </mat-grid-tile>
    </mat-grid-list>
</div>