.example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
  }
  
  .example-full-width {
    width: 100%;
  }
  
  .example-header-image {
    /* background-image: url('https://www.google.com/search?rlz=1C1CHBD_frFR769FR769&tbm=isch&q=baby&chips=q:baby,g_1:cute:o9LqvGyiCpM%3D&usg=AI4_-kQFu1RdlvVW0-FTqWZd-WoB4iERSA&sa=X&ved=0ahUKEwiTsryavqrjAhXMzlkKHYfnChMQ4lYIKCgA&biw=1440&bih=789&dpr=1#imgrc=_7co4aK1K0tfqM:'); */
    background-size: cover;
  }
  